.lead__img-container{
  margin: 64px 0 8px;
  padding: 0;
  max-width: 984px;
}

@media screen and (max-width: 1025px) {
  .lead__img-container{
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 321px) {
  .lead__img-container{
    margin: 40px 0 8px;
  }
}
