.page {
  margin: 0;
  padding: 28px 0 24px;
  min-width: 320px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;
  background: #2A2C2F;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  line-height: 0;
}

@media screen and (max-width: 321px) {
  .page {
    padding: 16px 0 24px;
  }
}
