.place__image{
  padding: 0;
  margin: 0;
  max-width: 460px;
  width: 100%;
}



@media screen and (max-width: 1025px) {
  .place__image{
    max-width: 440px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .place__image{
    max-width: 350px;
  }
}

@media screen and (max-width: 769px) {
  .place__image{
    max-width: 340px;
  }
}

@media screen and (max-width: 321px) {
  .place__image{
    max-width: 320px;
  }
}
