.intro__list {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;
  padding-top: 34px;
  list-style-type: none;
  color: #fff;
}
