
.place__paragraphs{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}

@media screen and (max-width: 1025px) {
  .place__paragraphs{
    max-width: 456px;

  }
}

@media screen and (max-width: 541px) {
  .place__paragraph{
    margin: 0 0 24px 0;
    font-size: 14px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 769px) {
  .place__paragraphs{
    max-width: 352px;

  }
}

@media screen and (max-width: 321px) {
  .place__paragraphs{
    max-width: 320px;
    padding: 0 16px;
  }
}
