.place__paragraph {
  margin: 0 0 26px 0;
  max-width: 484px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  color: #fff;
  box-sizing: border-box;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1025px) {
  .place__paragraph {
    margin: 0 0 27px 0;
    max-width: 456px;
  }
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    margin: 0 0 26px 0;
    font-size: 18px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 769px) {
  .place__paragraph {
    margin: 0 0 25px 0;
    font-size: 16px;
    line-height: 1.6;
  }
}
