.lead__image {
  width: 100%;
  margin: 64px 0 8px;
  padding: 0;
}

@media screen and (max-width: 1025px) {
  .lead__image {
    margin: 56px 0 8px;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    margin: 40px 0 8px;
    width: 100%;
  }
}
