.place__link {
  max-width: 456px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  transition: opacity 1s linear 0s;
}

.place__link:hover {
  opacity: 0.8;
}
