.footer {
  margin: 0 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 92px 48px 0;
  box-sizing: border-box;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 88px 36px 0;
  }
}

@media screen and (max-width: 769px) {
  .footer {
    padding: 88px 24px 0;
  }
}

@media screen and (max-width: 750px) {
  .footer {
    padding: 64px 16px 0;
    width: calc(100% - 1px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
