.intro-left {
    width: 690px;
    max-width: 1080px;
    margin-left: 48px;
    margin-right: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 769px) {
    .intro-left {
        width: 100%;
        margin: 0;
        position: unset;
    }
}